*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* =========== Header=========== */
.nav-link{
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.nav-link:hover{
    color: black;
}
.nav-item svg{
    fill: black;
    
}

.tweetle{
    background-color: rgb(0, 174, 243);
    color: rgba(255, 255, 255, 0.986);
    width:85%;
    height: 55px;
    margin-top: 10px;
    font-weight: 500;
}

/* =========== home-top=========== */
.home-con{
   
    border: 0.5px solid rgb(207, 207, 207);
}
.home{
    border-top: 0.01px solid rgb(197, 197, 197);
}
.img-part{
    border: 1px solid rgb(206, 206, 206);
    max-width:500px;    
    
}
.home-top{
    height:100px ;
}
.blur{
    width: 100%;
    height: 100px;
    background-color: rgb(214, 214, 214);
    opacity: 0.5;
}
.for-opa{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0%;
}
.home-top-btns{
    width: 100%;
}
.home-top-btns a{
    width: 50%;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 15px;
    
}
.home-top-btns a:focus{
    border-bottom: 3px solid rgb(0, 174, 243);
}
/* =========== Share tweet part =========== */
.prfl-pic{
    width: 50px;
    height: 50px;
}
.tweetle-home{
    background-color: rgb(0, 174, 243);
    color: rgba(255, 255, 255, 0.986);
    width: 100px;
    
}
#file{
    display: none;
}
/* =========== right part  =========== */
.right-part{
    border-radius: 15px;
    padding: 10px;
}
.search-con svg{
   
    border-right: 0ch !important;
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
}
.search{
    outline:none;
   
}
.form input:focus{
    border: none;
    outline: red !important;
    
}


/* ========= Agenta =================== */
.agenda{
    margin-bottom: 10px;
    
}

/* ========= Profil =================== */
.edit-profil{
    width: 140px;
    height: 40px;
    border: 1px solid rgb(206, 206, 206) !important;
}
.edit-profil:hover{
    border: 1px solid grey;
    background-color: rgb(230, 230, 230);
}
#mytab .nav-item button{
    font-size:15px !important;
    font-weight: 700 !important;
}
#mytab .nav-item button:focus{
    color: black !important;
    border-bottom: 4px solid rgb(0, 174, 243);
}
/* =================================== Edit Profil ============= */
.edit-name,.edit-bio,.edit-location,.edit-website{
    border: 1px solid rgb(201, 201, 201);
}
.edit-name input{
    border: none;
}
.edit-name input:focus{
    outline: none;
}
.edit-bio input{
    border: none;
}
.edit-bio input:focus{
    outline: none;
}
.edit-location input{
    border: none;
}
.edit-location input:focus{
    outline: none;
}
.edit-website input{
    border: none;
}
.edit-website input:focus{
    outline: none;
}
/* ======================================= Login ======================== */
#Form1{
    width: 700px;
    height: 700px;
    background-color: aliceblue;
    margin: 40px auto;
    border-radius: 15px;
}
#Form,input{
    padding-left: 10px;
    height: 60px;
    border-radius: 20px;
}
#Form,input:focus{
    height: 60px;
    outline: none;
    outline-color: rgb(0, 174, 243);
    padding-left: 10px;
}
#Form2{
    width: 700px;
    height: 700px;
    background-color: aliceblue;
    margin: 40px auto;
    border-radius: 15px;
    display: none;
}

#Form2 input:focus{
    height: 60px;
    outline-color: rgb(0, 174, 243);
}
#Form3{
    width: 700px;
    height: 700px;
    background-color: aliceblue;
    margin: 40px auto;
    border-radius: 15px;
    display: none;
    overflow: hidden;
}

#Form3 input:focus{
    height: 60px;
    outline-color: rgb(0, 174, 243);
}
#Form4{
    width: 700px;
    height: 700px;
    background-color: aliceblue;
    margin: 40px auto;
    border-radius: 15px;
    display: none;
    overflow: hidden;
}

#Form4 input:focus{
    height: 60px;
    outline-color: rgb(0, 174, 243);
}
#Form5{
    width: 700px;
    height: 700px;
    background-color: aliceblue;
    margin: 40px auto;
    border-radius: 15px;
    display: none;
    overflow: hidden;
}
/* ======================== Register ================================ */
.form input{
    height: 40px;
}
.form input:focus{
  outline-color: none !important;
  height: 40px;
}
