 {% extends 'base.html' %}
 {% load static %}

 
 {% block body %}
 <!-- main -->
 <div class="col-lg-6 col-sm-10 col-12">
     <main>
         <div class="home-con" style="height:auto;">
           <div class="search-con d-flex mb-4 sticky-top">
             <svg width="25" height="40" class="DocSearch-Search-Icon" viewBox="0 0 20 20"><path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>
             <input type="text" class="search w-100 border-0 ps-2" placeholder="Twitter'da Ara">
            </div>
           <div class="top-part">
             <h4 style="font-weight:700;">İlgini cekebilecek gundemler</h4>
             <!-- agenda -->
            <div class="agenda-explore d-flex justify-content-between">
              <div class="subjects-agenta">
                 <div class="subject-title text-secondary">
                   <span>Turkiye tarihinde gundemde</span>
                 </div>
                 <div class="subject">
                   <strong>#Dolar</strong>
                 </div>
                 <div class="count-twt text-secondary">
                   <span>85,6 B Tweet</span>
                 </div>
              </div>
               <!-- feld-back -->
               <div class="fld-bck">
                 <div class="dropdown">
                   <a href="#" class="d-flex align-items-center text-decoration-none text-secondary fs-3" data-bs-toggle="dropdown" aria-expanded="false">
                     ...
                   </a>
                   <ul style="height:100px;" class="dropdown-menu text-light shadow border-1 border-light rounded-4 border-opacity-25">
                     <li><a  class="dropdown-item" href="#">ilgimi cekmiyor</a></li>
                     <li><a  class="dropdown-item" href="#">Bu gundem basligi zararli veya spam iceriyor</a></li>
                   </ul>
                 </div>
               </div>
            </div>
            <div class="agenda-explore d-flex justify-content-between">
              <div class="subjects-agenta">
                 <div class="subject-title text-secondary">
                   <span>Gundemdekiler</span>
                 </div>
                 <div class="subject">
                   <strong>Erkekler</strong>
                 </div>
                 <div class="count-twt text-secondary">
                   <span>20,6 B Tweet</span>
                 </div>
              </div>
               <!-- feld-back -->
               <div class="fld-bck">
                 <div class="dropdown">
                   <a href="#" class="d-flex align-items-center text-decoration-none text-secondary fs-3" data-bs-toggle="dropdown" aria-expanded="false">
                     ...
                   </a>
                   <ul style="background-color:black !important; height:100px;" class="dropdown-menu text-light shadow border-1 border-light rounded-4 border-opacity-25">
                     <li><a style="background-color:black !important;" class="dropdown-item text-light" href="#">ilgimi cekmiyor</a></li>
                     <li><a style="background-color:black !important;" class="dropdown-item text-light" href="#">Bu gundem basligi zararli veya spam iceriyor</a></li>
                   </ul>
                 </div>
               </div>
            </div>
            <div class="agenda-explore d-flex justify-content-between">
              <div class="subjects-agenta">
                 <div class="subject-title text-secondary">
                   <span>Turkiye tarihinde gundemde</span>
                 </div>
                 <div class="subject">
                   <strong>SON DAKIKA</strong>
                 </div>
                 <div class="count-twt text-secondary">
                   <span>15,8 B Tweet</span>
                 </div>
              </div>
               <!-- feld-back -->
               <div class="fld-bck">
                 <div class="dropdown">
                   <a href="#" class="d-flex align-items-center text-decoration-none text-secondary fs-3" data-bs-toggle="dropdown" aria-expanded="false">
                     ...
                   </a>
                   <ul style="background-color:black !important; height:100px;" class="dropdown-menu text-light shadow border-1 border-light rounded-4 border-opacity-25">
                     <li><a style="background-color:black !important;" class="dropdown-item text-light" href="#">ilgimi cekmiyor</a></li>
                     <li><a style="background-color:black !important;" class="dropdown-item text-light" href="#">Bu gundem basligi zararli veya spam iceriyor</a></li>
                   </ul>
                 </div>
               </div>
            </div>
            <div class="agenda-explore d-flex justify-content-between">
              <div class="subjects-agenta">
                 <div class="subject-title text-secondary">
                   <span>Spor-Gundemdekiler</span>
                 </div>
                 <div class="subject">
                   <strong>Fatih Terim</strong>
                 </div>
                 <div class="count-twt text-secondary">
                   <span>13,2 B Tweet</span>
                 </div>
              </div>
               <!-- feld-back -->
               <div class="fld-bck">
                 <div class="dropdown">
                   <a href="#" class="d-flex align-items-center text-decoration-none text-secondary fs-3" data-bs-toggle="dropdown" aria-expanded="false">
                     ...
                   </a>
                   <ul style="background-color:black !important; height:100px;" class="dropdown-menu text-light shadow border-1 border-light rounded-4 border-opacity-25">
                     <li><a style="background-color:black !important;" class="dropdown-item text-light" href="#">ilgimi cekmiyor</a></li>
                     <li><a style="background-color:black !important;" class="dropdown-item text-light" href="#">Bu gundem basligi zararli veya spam iceriyor</a></li>
                   </ul>
                 </div>
               </div>
            </div>
            <div class="agenda-explore d-flex justify-content-between">
              <div class="subjects-agenta">
                 <div class="subject-title text-secondary">
                   <span>Spor-Gundemdekiler</span>
                 </div>
                 <div class="subject">
                   <strong>Ali Koc</strong>
                 </div>
                 <div class="count-twt text-secondary">
                   <span>17,6 B Tweet</span>
                 </div>
              </div>
               <!-- feld-back -->
               <div class="fld-bck">
                 <div class="dropdown">
                   <a href="#" class="d-flex align-items-center text-decoration-none text-secondary fs-3" data-bs-toggle="dropdown" aria-expanded="false">
                     ...
                   </a>
                   <ul style="height:100px;" class="dropdown-menu text-light shadow border-1 border-light rounded-4 border-opacity-25">
                     <li><a  class="dropdown-item" href="#">ilgimi cekmiyor</a></li>
                     <li><a  class="dropdown-item" href="#">Bu gundem basligi zararli veya spam iceriyor</a></li>
                   </ul>
                 </div>
               </div>
            </div>
            <div class="agenda-explore d-flex justify-content-between">
              <div class="subjects-agenta">
                 <div class="subject-title text-secondary">
                   <span>Turkiye tarihinde gundemde</span>
                 </div>
                 <div class="subject">
                   <strong>#cokusdonemi</strong>
                 </div>
                 <div class="count-twt text-secondary">
                   <span>17,6 B Tweet</span>
                 </div>
              </div>
               <!-- feld-back -->
               <div class="fld-bck">
                 <div class="dropdown">
                   <a href="#" class="d-flex align-items-center text-decoration-none text-secondary fs-3" data-bs-toggle="dropdown" aria-expanded="false">
                     ...
                   </a>
                   <ul style="height:100px;" class="dropdown-menu text-light shadow border-1 border-light rounded-4 border-opacity-25">
                     <li><a class="dropdown-item" href="#">ilgimi cekmiyor</a></li>
                     <li><a class="dropdown-item" href="#">Bu gundem basligi zararli veya spam iceriyor</a></li>
                   </ul>
                 </div>
               </div>
            </div>
            
              
            </div>
                      <!-- tweet -->
                      
                      {% for tweet in tweets %}
                      <div class="home">
                        <!-- tweets -->
                          <div class="re-fo"></div>
                          <div class="tw-con d-flex">
                          <!-- profil -->
                            <div class="pro-con me-1">
                                <div class="pict" style="width:50px; height:50px;">
                                    <img style="width:50px; height:50px;" class="w-100 object-fit-cover rounded-circle" src="{{ tweet.owner.userinfo.image.url }}" alt="">
                                </div>
                            </div>
                            <div class="content-con mt-3 w-100">
                                <div class="tw-owner mb-2">
                                  <a style="text-decoration:none; color: black; font-weight:500;" href="/userprofile/{{ tweet.owner.id }}">
                                  <span class="fs-5 text-black fw-bold">{{ tweet.owner.first_name }}</span>   <span class="text-secondary">@{{ tweet.owner.username }}</span>
                                </a>
                                </div>
                                <!-- tweet img text -->
                                <div class="content-part w-100">
                                    <div class="content">
                                        <div class="text-part">
                                            <p>{{ tweet.text }}</p>
                                        </div>
                                        
                                        {% if tweet.image %}
                                        <div class="img-part rounded-4">
                                            <img style="height:300px;" class="w-100 rounded-4" src="{{ tweet.image.url }}" alt="">
                                        </div>
                                        
                                        {% endif %}
                                          

                                    </div>
                                    <!-- buttons -->
                                    <div class="buttons d-flex justify-content-between w-75 mb-3">
                                        <div class="comment">
                                          <svg width="20" height="20" style="fill:rgb(0, 0, 0);" viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"><g><path d="M1.751 10c0-4.42 3.584-8 8.005-8h4.366c4.49 0 8.129 3.64 8.129 8.13 0 2.96-1.607 5.68-4.196 7.11l-8.054 4.46v-3.69h-.067c-4.49.1-8.183-3.51-8.183-8.01zm8.005-6c-3.317 0-6.005 2.69-6.005 6 0 3.37 2.77 6.08 6.138 6.01l.351-.01h1.761v2.3l5.087-2.81c1.951-1.08 3.163-3.13 3.163-5.36 0-3.39-2.744-6.13-6.129-6.13H9.756z"></path></g></svg>
                                        </div>
            
                                        <div class="retweet">
                                          <svg width="20" height="20" style="fill:rgba(0, 0, 0, 0.959);" viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"><g><path d="M4.5 3.88l4.432 4.14-1.364 1.46L5.5 7.55V16c0 1.1.896 2 2 2H13v2H7.5c-2.209 0-4-1.79-4-4V7.55L1.432 9.48.068 8.02 4.5 3.88zM16.5 6H11V4h5.5c2.209 0 4 1.79 4 4v8.45l2.068-1.93 1.364 1.46-4.432 4.14-4.432-4.14 1.364-1.46 2.068 1.93V8c0-1.1-.896-2-2-2z"></path></g></svg>
                                        </div>
                                        
                                       <div class="like">
                                        <form action="" method="POST">
                                          {% csrf_token %}
                                          <input type="hidden" name="tweetid" value="{{tweet.id}}">
                                          
                                          {% if tweet.like.all.count != 0 %}
                                            <span>{{ tweet.like.all.count }}</span>
                                          {% endif %}
                                            
                                            {% if request.user in tweet.like.all %}
                                            <button class="bg-transparent border-0" type="submit" value="like{{ tweet.like.all.count }}" name="like">
                                              <svg width="20px" height="20px" viewBox="0 0 12 12" enable-background="new 0 0 12 12" id="Слой_1" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#eb005e" stroke="#eb005e" stroke-width="0.00012000000000000002"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M8.5,1C7.5206299,1,6.6352539,1.4022217,6,2.0504761C5.3648071,1.4022827,4.4793701,1,3.5,1 C1.5670166,1,0,2.5670166,0,4.5S2,8,6,11c4-3,6-4.5670166,6-6.5S10.4329834,1,8.5,1z" fill="#eb005e"></path></g></svg>
                                            </button>
                                              
                                            {% else %}
                                            <button class="bg-transparent border-0" type="submit" value="like{{ tweet.like.all.count }}" name="like">
                                              <svg id="xxx" width="20" height="20" style="fill:rgba(0, 0, 0, 0.966);" viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"><g><path d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"></path></g>
                                              </svg>
                                            </button>
                                              
                                            {% endif %}
                                              


                                          
                                        </form>
                                      </div>
                                        

                                        <div class="views">
                                          <svg width="20" height="20" style="fill:rgb(0, 0, 0);" viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"><g><path d="M8.75 21V3h2v18h-2zM18 21V8.5h2V21h-2zM4 21l.004-10h2L6 21H4zm9.248 0v-7h2v7h-2z"></path></g></svg>
                                        </div>
            
                                        <div class="share-with">
                                          <svg width="20" height="20" style="fill:rgb(0, 0, 0);" viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"><g><path d="M12 2.59l5.7 5.7-1.41 1.42L13 6.41V16h-2V6.41l-3.3 3.3-1.41-1.42L12 2.59zM21 15l-.02 3.51c0 1.38-1.12 2.49-2.5 2.49H5.5C4.11 21 3 19.88 3 18.5V15h2v3.5c0 .28.22.5.5.5h12.98c.28 0 .5-.22.5-.5L19 15h2z"></path></g></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
            
                         </div>
                        
                      {% endfor %}
                        
                      
             
         </div>

         <div class="d-flex d-sm-none sticky-bottom align-items-center justify-content-center bg-light">
           <ul class="nav col-12 col-lg-auto my-2 justify-content-between my-md-0 text-small">
             <li>
               <a href="#" class="nav-link p-0">
                   <svg style="width:25px; height:25px;" viewBox="0 0 24 24" aria-hidden="true" class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M12 1.696L.622 8.807l1.06 1.696L3 9.679V19.5C3 20.881 4.119 22 5.5 22h13c1.381 0 2.5-1.119 2.5-2.5V9.679l1.318.824 1.06-1.696L12 1.696zM12 16.5c-1.933 0-3.5-1.567-3.5-3.5s1.567-3.5 3.5-3.5 3.5 1.567 3.5 3.5-1.567 3.5-3.5 3.5z"></path></g></svg>

               </a>
             </li>
             <li>
               <a href="#" class="nav-link p-0">
                   <svg style="width:25px; height:25px;" viewBox="0 0 24 24" aria-hidden="true" class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"></path></g></svg>
               </a>
             </li>
             <li>
               <a href="#" class="nav-link p-0">
                   <svg style="width:25px; height:25px;" viewBox="0 0 24 24" aria-hidden="true" class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M19.993 9.042C19.48 5.017 16.054 2 11.996 2s-7.49 3.021-7.999 7.051L2.866 18H7.1c.463 2.282 2.481 4 4.9 4s4.437-1.718 4.9-4h4.236l-1.143-8.958zM12 20c-1.306 0-2.417-.835-2.829-2h5.658c-.412 1.165-1.523 2-2.829 2zm-6.866-4l.847-6.698C6.364 6.272 8.941 4 11.996 4s5.627 2.268 6.013 5.295L18.864 16H5.134z"></path></g></svg>
               </a>
             </li>
             <li>
               <a href="#" class="nav-link p-0">
                   <svg style="width:25px; height:25px;" viewBox="0 0 24 24" aria-hidden="true" class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M1.998 5.5c0-1.381 1.119-2.5 2.5-2.5h15c1.381 0 2.5 1.119 2.5 2.5v13c0 1.381-1.119 2.5-2.5 2.5h-15c-1.381 0-2.5-1.119-2.5-2.5v-13zm2.5-.5c-.276 0-.5.224-.5.5v2.764l8 3.638 8-3.636V5.5c0-.276-.224-.5-.5-.5h-15zm15.5 5.463l-8 3.636-8-3.638V18.5c0 .276.224.5.5.5h15c.276 0 .5-.224.5-.5v-8.037z"></path></g></svg>
               </a>
             </li>
             
           </ul>
         </div>
     </main>
 </div>

            <!-- right part -->
   <div class="col-3 d-none d-lg-block">
     
     {% if request.user.is_authenticated %}
     <div class="right-part sticky-top">
       <h4>Kimi takip etmeli</h4>
       {% for random in r_user %}
       
       {% if request.user not in random.userinfo.follower.all %}
       <div class="advice-follow d-flex justify-content-between mt-4">
         <div class="dropdown">
           <a href="{% url 'Userprofile' random.id %}" class="d-flex align-items-center link-dark text-decoration-none">
             <img src="{{ random.userinfo.image.url }}" alt="" width="32" height="32" class="rounded-circle me-2">
             <strong>{{ random.get_full_name }}</strong>
           </a>
         </div>
         <form  method="POST">
          {% csrf_token %}
          <input type="hidden" name="userid" value="{{ random.id }}">
          <button type="submit" name="rfollow" class="rounded-5 w-100 bg-dark text-light">Takip et</button>

         </form>
       </div>
        
       {% endif %}
        
          
        {% endfor %}
       
        <div class="more-advice p-3">
         <a style="text-decoration:none ;" href="#">Daha fazla goster</a>
        </div>
        </div>
     
     {% else %}
      <div class="right-part sticky-top">
        <h4>Twitter'da yeni misin?</h4>
        <div class="google d-flex align-items-center">
          
          <button class="my-3 border-0 w-100"><svg width="18px" height="20px" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
            class="LgbsSe-Bz112c">
            <g>
                <path fill="#EA4335"
                    d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                </path>
                <path fill="#4285F4"
                    d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                </path>
                <path fill="#FBBC05"
                    d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                </path>
                <path fill="#34A853"
                    d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                </path>
                <path fill="none" d="M0 0h48v48H0z"></path>
            </g>
        </svg>Google ile oturum açın</button>

      </div>
      <div class="apple d-flex align-items-center justify-content-center">
          
          <button class="my-3 border-0 w-100"><svg width="18px" height="20px" viewBox="0 0 24 24" aria-hidden="true"
            class="r-4qtqp9 r-yyyyoo r-z80fyv r-1d4mawv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-19wmn03"
            style="color: rgb(15, 20, 25);">
            <g>
                <path
                    d="M16.365 1.43c0 1.14-.493 2.27-1.177 3.08-.744.9-1.99 1.57-2.987 1.57-.12 0-.23-.02-.3-.03-.01-.06-.04-.22-.04-.39 0-1.15.572-2.27 1.206-2.98.804-.94 2.142-1.64 3.248-1.68.03.13.05.28.05.43zm4.565 15.71c-.03.07-.463 1.58-1.518 3.12-.945 1.34-1.94 2.71-3.43 2.71-1.517 0-1.9-.88-3.63-.88-1.698 0-2.302.91-3.67.91-1.377 0-2.332-1.26-3.428-2.8-1.287-1.82-2.323-4.63-2.323-7.28 0-4.28 2.797-6.55 5.552-6.55 1.448 0 2.675.95 3.6.95.865 0 2.222-1.01 3.902-1.01.613 0 2.886.06 4.374 2.19-.13.09-2.383 1.37-2.383 4.19 0 3.26 2.854 4.42 2.955 4.45z">
                </path>
            </g>
        </svg>Apple ile Giriş yap</button>

      </div>
    <a href="{% url 'registerUser' %}" type="button" id="Next" class="my-5 w-100 rounded-5 text-white bg-dark d-flex align-items-center justify-content-center" style="height: 40px; text-decoration: none;">Hesap olustur</a>
      </div>
     {% endif %}
      
     </div>
   </div>
  
 {% endblock body %}
  
       
  


