{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>twitter</title>
</head>
<body>
    <div class="container-md" style="height:90vh;">
        <div class="row">
            <div class="col-lg-3 col-2 d-none d-sm-block">
                <header class="sticky-top">
                    <div class="d-flex flex-column flex-shrink-0 p-3 pt-0" style="height:90vh;">
                        <ul class="nav nav-pills flex-column mb-auto">
                          <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item">
                              <a href="#" class="nav-link" aria-current="page">
                                  <svg style="fill:#1d9bf0" width="30" height="30" viewBox="0 0 24 24" aria-hidden="true" class="r-13v1u17 r-4qtqp9 r-yyyyoo r-16y2uox r-8kz0gk r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp"><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg>
                                
                              </a>
                            </li>
                          <li class="nav-item mt-2">
                            <a href="{% url 'Explore' %}" class="nav-link" aria-current="page">
                                <svg width="30" height="30" viewBox="0 0 24 24" aria-hidden="true" class="r-1nao33i r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M10.09 3.098L9.72 7h5.99l.39-4.089 1.99.187L17.72 7h3.78v2h-3.97l-.56 6h3.53v2h-3.72l-.38 4.089-1.99-.187.36-3.902H8.78l-.38 4.089-1.99-.187L6.77 17H2.5v-2h4.46l.56-6H3.5V7h4.21l.39-4.089 1.99.187zM14.96 15l.56-6H9.53l-.56 6h5.99z"></path></g></svg>
                                <span class="ms-2 d-none d-lg-inline">Keşfet</span>
                            </a>
                          </li>
                          <li class="nav-item mt-2">
                            <a href="#" class="nav-link">
                                <svg width="30" height="30" viewBox="0 0 24 24" aria-hidden="true" class="r-1nao33i r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M19.993 9.042C19.48 5.017 16.054 2 11.996 2s-7.49 3.021-7.999 7.051L2.866 18H7.1c.463 2.282 2.481 4 4.9 4s4.437-1.718 4.9-4h4.236l-1.143-8.958zM12 20c-1.306 0-2.417-.835-2.829-2h5.658c-.412 1.165-1.523 2-2.829 2zm-6.866-4l.847-6.698C6.364 6.272 8.941 4 11.996 4s5.627 2.268 6.013 5.295L18.864 16H5.134z"></path></g></svg>
                                <span class="ms-2 d-none d-lg-inline">Ayarlar</span>
                            </a>
                          </li>
                        
                        </ul>
                        
                        
                        
                      </div>
                </header>
            
            </div>
            <div class="col-lg-6 col-sm-10 col-12">
                <main>
                    <div class="home-con" style="height:auto;">
                      <div class="search-con d-flex mb-4 sticky-top">
                        <svg width="25" height="40" class="DocSearch-Search-Icon" viewBox="0 0 20 20"><path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        <input type="text" class="search w-100 border-0 ps-2" placeholder="Twitter'da Ara">
                       </div>
                      <div class="top-part">
                        <h4 style="font-weight:700;">İlgini cekebilecek gundemler</h4>
                        <!-- agenda -->
                       <div class="agenda-explore d-flex justify-content-between">
                         <div class="subjects-agenta">
                            <div class="subject-title text-secondary">
                              <span>Turkiye tarihinde gundemde</span>
                            </div>
                            <div class="subject">
                              <strong>#Dolar</strong>
                            </div>
                            <div class="count-twt text-secondary">
                              <span>85,6 B Tweet</span>
                            </div>
                         </div>
                          <!-- feld-back -->
                          <div class="fld-bck">
                            <div class="dropdown">
                              <a href="#" class="d-flex align-items-center text-decoration-none text-secondary fs-3" data-bs-toggle="dropdown" aria-expanded="false">
                                ...
                              </a>
                              <ul style="height:100px;" class="dropdown-menu text-light shadow border-1 border-light rounded-4 border-opacity-25">
                                <li><a  class="dropdown-item" href="#">ilgimi cekmiyor</a></li>
                                <li><a  class="dropdown-item" href="#">Bu gundem basligi zararli veya spam iceriyor</a></li>
                              </ul>
                            </div>
                          </div>
                       </div>
                       <div class="agenda-explore d-flex justify-content-between">
                         <div class="subjects-agenta">
                            <div class="subject-title text-secondary">
                              <span>Gundemdekiler</span>
                            </div>
                            <div class="subject">
                              <strong>Erkekler</strong>
                            </div>
                            <div class="count-twt text-secondary">
                              <span>20,6 B Tweet</span>
                            </div>
                         </div>
                          <!-- feld-back -->
                          <div class="fld-bck">
                            <div class="dropdown">
                              <a href="#" class="d-flex align-items-center text-decoration-none text-secondary fs-3" data-bs-toggle="dropdown" aria-expanded="false">
                                ...
                              </a>
                              <ul style="background-color:black !important; height:100px;" class="dropdown-menu text-light shadow border-1 border-light rounded-4 border-opacity-25">
                                <li><a style="background-color:black !important;" class="dropdown-item text-light" href="#">ilgimi cekmiyor</a></li>
                                <li><a style="background-color:black !important;" class="dropdown-item text-light" href="#">Bu gundem basligi zararli veya spam iceriyor</a></li>
                              </ul>
                            </div>
                          </div>
                       </div>
                       <div class="agenda-explore d-flex justify-content-between">
                         <div class="subjects-agenta">
                            <div class="subject-title text-secondary">
                              <span>Turkiye tarihinde gundemde</span>
                            </div>
                            <div class="subject">
                              <strong>SON DAKIKA</strong>
                            </div>
                            <div class="count-twt text-secondary">
                              <span>15,8 B Tweet</span>
                            </div>
                         </div>
                          <!-- feld-back -->
                          <div class="fld-bck">
                            <div class="dropdown">
                              <a href="#" class="d-flex align-items-center text-decoration-none text-secondary fs-3" data-bs-toggle="dropdown" aria-expanded="false">
                                ...
                              </a>
                              <ul style="background-color:black !important; height:100px;" class="dropdown-menu text-light shadow border-1 border-light rounded-4 border-opacity-25">
                                <li><a style="background-color:black !important;" class="dropdown-item text-light" href="#">ilgimi cekmiyor</a></li>
                                <li><a style="background-color:black !important;" class="dropdown-item text-light" href="#">Bu gundem basligi zararli veya spam iceriyor</a></li>
                              </ul>
                            </div>
                          </div>
                       </div>
                       <div class="agenda-explore d-flex justify-content-between">
                         <div class="subjects-agenta">
                            <div class="subject-title text-secondary">
                              <span>Spor-Gundemdekiler</span>
                            </div>
                            <div class="subject">
                              <strong>Fatih Terim</strong>
                            </div>
                            <div class="count-twt text-secondary">
                              <span>13,2 B Tweet</span>
                            </div>
                         </div>
                          <!-- feld-back -->
                          <div class="fld-bck">
                            <div class="dropdown">
                              <a href="#" class="d-flex align-items-center text-decoration-none text-secondary fs-3" data-bs-toggle="dropdown" aria-expanded="false">
                                ...
                              </a>
                              <ul style="background-color:black !important; height:100px;" class="dropdown-menu text-light shadow border-1 border-light rounded-4 border-opacity-25">
                                <li><a style="background-color:black !important;" class="dropdown-item text-light" href="#">ilgimi cekmiyor</a></li>
                                <li><a style="background-color:black !important;" class="dropdown-item text-light" href="#">Bu gundem basligi zararli veya spam iceriyor</a></li>
                              </ul>
                            </div>
                          </div>
                       </div>
                       <div class="agenda-explore d-flex justify-content-between">
                         <div class="subjects-agenta">
                            <div class="subject-title text-secondary">
                              <span>Spor-Gundemdekiler</span>
                            </div>
                            <div class="subject">
                              <strong>Ali Koc</strong>
                            </div>
                            <div class="count-twt text-secondary">
                              <span>17,6 B Tweet</span>
                            </div>
                         </div>
                          <!-- feld-back -->
                          <div class="fld-bck">
                            <div class="dropdown">
                              <a href="#" class="d-flex align-items-center text-decoration-none text-secondary fs-3" data-bs-toggle="dropdown" aria-expanded="false">
                                ...
                              </a>
                              <ul style="height:100px;" class="dropdown-menu text-light shadow border-1 border-light rounded-4 border-opacity-25">
                                <li><a  class="dropdown-item" href="#">ilgimi cekmiyor</a></li>
                                <li><a  class="dropdown-item" href="#">Bu gundem basligi zararli veya spam iceriyor</a></li>
                              </ul>
                            </div>
                          </div>
                       </div>
                       <div class="agenda-explore d-flex justify-content-between">
                         <div class="subjects-agenta">
                            <div class="subject-title text-secondary">
                              <span>Turkiye tarihinde gundemde</span>
                            </div>
                            <div class="subject">
                              <strong>#cokusdonemi</strong>
                            </div>
                            <div class="count-twt text-secondary">
                              <span>17,6 B Tweet</span>
                            </div>
                         </div>
                          <!-- feld-back -->
                          <div class="fld-bck">
                            <div class="dropdown">
                              <a href="#" class="d-flex align-items-center text-decoration-none text-secondary fs-3" data-bs-toggle="dropdown" aria-expanded="false">
                                ...
                              </a>
                              <ul style="height:100px;" class="dropdown-menu text-light shadow border-1 border-light rounded-4 border-opacity-25">
                                <li><a class="dropdown-item" href="#">ilgimi cekmiyor</a></li>
                                <li><a class="dropdown-item" href="#">Bu gundem basligi zararli veya spam iceriyor</a></li>
                              </ul>
                            </div>
                          </div>
                       </div>
                       
                         
                       </div>
                                 <!-- tweet -->
                      
                    </div>
           
                    
                </main>
            </div>
            <div class="col-3 d-none d-lg-block">
                <div class="right-part sticky-top">
                  <h4>Twitter'da yeni misin?</h4>
                  <div class="google d-flex align-items-center">
                    
                    <button class="my-3 border-0 w-100"><svg width="18px" height="20px" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
                      class="LgbsSe-Bz112c">
                      <g>
                          <path fill="#EA4335"
                              d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                          </path>
                          <path fill="#4285F4"
                              d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                          </path>
                          <path fill="#FBBC05"
                              d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                          </path>
                          <path fill="#34A853"
                              d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                          </path>
                          <path fill="none" d="M0 0h48v48H0z"></path>
                      </g>
                  </svg>Google ile oturum açın</button>
    
                </div>
                <div class="apple d-flex align-items-center justify-content-center">
                    
                    <button class="my-3 border-0 w-100"><svg width="18px" height="20px" viewBox="0 0 24 24" aria-hidden="true"
                      class="r-4qtqp9 r-yyyyoo r-z80fyv r-1d4mawv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-19wmn03"
                      style="color: rgb(15, 20, 25);">
                      <g>
                          <path
                              d="M16.365 1.43c0 1.14-.493 2.27-1.177 3.08-.744.9-1.99 1.57-2.987 1.57-.12 0-.23-.02-.3-.03-.01-.06-.04-.22-.04-.39 0-1.15.572-2.27 1.206-2.98.804-.94 2.142-1.64 3.248-1.68.03.13.05.28.05.43zm4.565 15.71c-.03.07-.463 1.58-1.518 3.12-.945 1.34-1.94 2.71-3.43 2.71-1.517 0-1.9-.88-3.63-.88-1.698 0-2.302.91-3.67.91-1.377 0-2.332-1.26-3.428-2.8-1.287-1.82-2.323-4.63-2.323-7.28 0-4.28 2.797-6.55 5.552-6.55 1.448 0 2.675.95 3.6.95.865 0 2.222-1.01 3.902-1.01.613 0 2.886.06 4.374 2.19-.13.09-2.383 1.37-2.383 4.19 0 3.26 2.854 4.42 2.955 4.45z">
                          </path>
                      </g>
                  </svg>Apple ile Giriş yap</button>
    
                </div>
               <a href="{% url 'registerUser' %}" type="button" id="Next" class="my-5 w-100 rounded-5" style="height: 40px;">Hesap olustur</a>
                </div>
            </div>

       </div>
       
      </div>
      
      <div class="container-fluid w-100 bg-primary bg-opacity-75 d-flex justify-content-center align-items-center" style="height:10vh;">
       
          <a href="{% url 'loginUser' %}" class="btn btn-transparent text-white border-1 border-light rounded-5 ms-4" type="button">Giriş yap</a>

          <a href="{% url 'registerUser' %}" class="btn btn-light text-black border-1 border-black rounded-5 ms-3" type="button">Kaydol</a>
          
      </div>   


 
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>   
</body>
</html>